@{
    ViewBag.Title = "About";
}

@{

    ViewBag.Title = "Home Page";
}

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Our Website -->
    <!-- Skill-Area -->
    <section class="section-padding" id="skill-area" style="padding-top:80px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h2 class="title wow fadeInUp">Our Professional Skills</h2>
                        <div class="wow fadeInUp">
                            <p>
                                Our team is the treasure to number of skills like coding, designing, development, analysis, visualisation etc. and together we can build a system that can bridge the gap and make a unified Australia.
                            </p>
                        </div>
                    </div>
                    <div class="skills skills1 row">
                        <!-- main skill No. 1 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="chart chart1 center" data-percent="95">
                                <span class="counter">95</span>
                            </div>
                            <h6>Web Design</h6>
                        </div>
                        <!-- main skill No. 2 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="chart chart1 center" data-percent="85">
                                <span class="counter">85</span>
                            </div>
                            <h6>Coding</h6>
                        </div>
                        <!-- main skill No. 3 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="chart chart1 center" data-percent="90">
                                <span class="counter">90</span>
                            </div>
                            <h6>Development</h6>
                        </div>
                        <!-- main skill No. 4 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1.2s">
                            <div class="chart chart1 center" data-percent="95">
                                <span class="counter">95</span>
                            </div>
                            <h6>Java Script</h6>
                        </div>
                        <!-- main skill No. 5 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1s">
                            <div class="chart chart1 center" data-percent="85">
                                <span class="counter">85</span>
                            </div>
                            <h6>Data Visualisations</h6>
                        </div>
                        <!-- main skill No. 6 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.8s">
                            <div class="chart chart1 center" data-percent="90">
                                <span class="counter">90</span>
                            </div>
                            <h6>UI/UX</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="~/Content/Images/we-image.png" alt="" style="height:400px;width:initial" />
                </div>
            </div>
        </div>
    </section>

    @*<section class="section-padding gray-bg" id="user_comments">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="text-center">
                        <h2 class="title">Credits</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>*@



    @*<section class="section-padding" id="user_comments">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="text-center">
                            <h2 class="title">See What People Are Saying About Us!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container" style="text-align:center">
                        <div class="team-box wow fadeInUp" data-wow-delay="0.2s">
                            <img src="~/Content/Images/sharvin_img.jpeg" alt="" style="border-radius:50%; height:200px;width:200px;" />
                            <br />
                            <br />
                            <p style="font-style:italic; font-weight:100; font-size:large; font-family:'Times New Roman'">The third annual Willamette River Festival is adding several new events focusing on indigenous culture.</>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <!-- Team Area -->
    <section class="section-padding" id="team-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <h2 class="title">Meet our Team</h2>
                        <p>Divided by diverse educational and cultural backgrounds, united by an agenda.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 10%">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-image">
                            <img src="~/Content/Images/sharvin_img.jpeg" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Sharvin</h5>
                            <span class="t_sub_title">Developer & Security Expert</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Software Development" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="IT Security" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="60" data-tooltip="true" data-label="Design" data-show-values="true" data-unit="%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-image">
                            <img src="~/Content/Images/prapti.png" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Prapti</h5>
                            <span class="t_sub_title">Business Analyst</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Analysis" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="UI/UX Design" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="60" data-tooltip="true" data-label="Reporting" data-show-values="true" data-unit="%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-image">
                            <img src="~/Content/Images/shicheng.jpg" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Shicheng</h5>
                            <span class="t_sub_title">Data Scientist</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Python & R" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Machine Learning" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="80" data-tooltip="true" data-label="Data Visualisation" data-show-values="true" data-unit="%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-image">
                            <img src="~/Content/Images/Ming.jpeg" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">MingCun</h5>
                            <span class="t_sub_title">Software Engineer</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="80" data-tooltip="true" data-label="Software Engineering" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Application Development" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="50" data-tooltip="true" data-label="Illustrator" data-show-values="true" data-unit="%"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team-Area / -->

    <!--Vendor-JS-->
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>