@{
    ViewBag.Title = "About";
}

@{

    ViewBag.Title = "Home Page";
}

<body data-spy="scroll" data-target=".mainmenu-area">
    <section class="section-padding gray-bg" style="margin-top: 80px">
        <div class="container">
            <h1 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:100">Who We Are!</h1>
            <h4 class="title wow fadeInDown" style="text-align:center; font-size: 60px">About Us</h4>
        </div>
    </section>

    <!-- Our Website -->
    <!-- Skill-Area -->
    <section class="section-padding" id="skill-area" style="padding-top:20px">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="wow fadeInUp">
                        <h4 style="text-align: justify">
                            Founded in August 2019, Melbourne, Team Unified is dedicated to making the lives of Australian Youth better by assisting them in their legal issues. The "We United Australians" project aims to provide youth with correct information on the most common employment opportunities, assistance in pay rate and tax calculator, outlook regarding issues at workplace in Victoria and showcase to them the ways in which they can engage in the community and help themselves. The website also provides upcoming events which can be beneficial for the youth seeking legal aid and different types of recommendations to enhance their hobbies and interests.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/Content/Expo_Images/justice_3.jpg"  style="height:500px;width:100%" />
                @*<img src="~/Content/Images/we-image.png" alt="" style="height:400px;width:initial" />*@
            </div>
        </div>
    </section>

    <!-- Team Area -->
    @*<section class="section-padding" id="team-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <h2 class="title">Meet our Team</h2>
                        <p>Divided by diverse educational and cultural backgrounds, united by an agenda.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 10%">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-image">
                            <img src="~/Content/Images/sharvin_img.jpeg" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Sharvin</h5>
                            <span class="t_sub_title">Developer & Security Expert</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Software Development" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="IT Security" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="60" data-tooltip="true" data-label="Design" data-show-values="true" data-unit="%"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-image">
                            <img src="~/Content/Images/prapti.png" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Prapti</h5>
                            <span class="t_sub_title">Business Analyst</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Analysis" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="UI/UX Design" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="60" data-tooltip="true" data-label="Reporting" data-show-values="true" data-unit="%"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-image">
                            <img src="~/Content/Images/shicheng.jpg" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Shicheng</h5>
                            <span class="t_sub_title">Data Scientist</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Python & R" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Machine Learning" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="80" data-tooltip="true" data-label="Data Visualisation" data-show-values="true" data-unit="%"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-image">
                            <img src="~/Content/Images/Ming.jpeg" />
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">MingCun</h5>
                            <span class="t_sub_title">Software Engineer</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="80" data-tooltip="true" data-label="Software Engineering" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Application Development" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="50" data-tooltip="true" data-label="Illustrator" data-show-values="true" data-unit="%"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <!-- Team-Area / -->
    <!--Vendor-JS-->
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>