@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/icofont.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>

</head>

<body data-spy="scroll" data-target=".mainmenu-area">

    <section class="section-padding gray-bg">
        <h1 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">Contemporary Australia</h1>
        <h4 class="title wow fadeInUp" style="text-align:center; font-weight:bold; font-size:20px">
            Brought to you from the Monash University National Centre for Australian Studies course, developed with Open Learning Australia
        </h4>
    </section>

    <section class="section-padding" style="padding-top:20px">
        <button class="coll_4" style="width: 94%">History of Political Parties in Australia <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">
                As one of the world's oldest continuous democracies, Australia has a long tradition of forming and supporting political parties. While today Australia has two major and several minor political parties, many other parties have played a role in the history of the federal Parliament.
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                Early Years
            </h5>
            <ul>
                <li>In 1901, the first Australian Government was formed by the Protectionist Party.</li>
                <li>They believed Australia needed tariffs (taxes) on goods imported into the country, to protect and develop Australian industry and provide jobs.</li>
                <li>In the first decade after federation, the major parties in the federal Parliament were the Protectionist Party, the Free Trade Party and the Australian Labor Party (until 1912, spelt as 'Labour').</li>
                <li>In contrast to the Protectionist Party, the Free Trade Party believed Australia needed to get rid of tariffs which restricted free trade.</li>
                <li>They argued free trade would give everyone the chance to share in the nation's wealth.</li>
            </ul>

        </div>
        <br />


        <button class="coll_4" style="width: 94%">Ideology in Australian Politics <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">
                Australian politics operates as a two-party system, as a result of the permanent coalition between the Liberal Party and National Party. Internal party discipline has historically been tight, unlike the situation in other countries such as the United States. Australia's political system has not always been a two-party system, but nor has it always been as internally stable as in recent decades.
            </h5>
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    The Australian Labor Party (ALP) is a self-described social democratic party. It is a left leaning party with tendency towards social welfare and government assistance programs. It was founded by the Australian labour movement and broadly represents the urban working and middle classes.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    The Liberal Party of Australia is a party of the centre-right which broadly represents businesses, the urban middle classes and many rural people. Its permanent coalition partner at national level is the National Party of Australia, formerly known as the Country Party, a conservative party which represents rural interests.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Minor parties in Australian politics include a green party, the Australian Greens, the largest of the minor parties; a centrist party, Centre Alliance; a nationalist party, Pauline Hanson's One Nation; and an anti-privatisation party, Katter's Australian Party.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Other significant parties in recent years have included the Palmer United Party, the socially conservative Family First Party, among others.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Historically significant parties have included the United Australia Party, the Australian Labor Party (Anti-Communist), the Communist Party of Australia, the socially liberal Australian Democrats among others.
                </li>
            </ul>
        </div>
        <br />

        <button class="coll_4" style="width: 94%">Political Parties of Australia <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    The Australian party system has been described by political scientists as more ideologically driven than other similar Anglophone countries such as the United States and Canada.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    In early Australian political history, class interests played a significant role in the division between the democratic socialist Australian Labor Party and the Coalition, which consisted of the conservative Liberal Party and agrarian conservative Australian Country Party.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    In contemporary Australian political culture, the Coalition (Liberal and National parties) is considered centre-right and the Australian Labor Party is considered centre-left.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Queensland, in particular, along with the Northern Territory and Western Australia are regarded as comparatively conservative. Victoria, South Australia, Tasmania, and the Australian Capital Territory are regarded as comparatively left of centre.
                </li>
            </ul>
        </div>
        <br />

        <button class="coll_4" style="width: 94%">The Political Timeline <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">
                Since federation, there have been 30 Prime Ministers of Australia. The longest-serving Prime Minister was Sir Robert Menzies of the Liberal Party, who served for 19 years from 1939–41, and again from 1949–66.
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                The only other Prime Minister to serve for longer than a decade was John Howard, also of the Liberal Party, who led for more than 11 years from 1996–2007. The Coalition and its direct predecessors have governed at the federal level for a large majority of Australia's history since federation: 30,548 days as compared to Labor's 12,252 days.
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                Prime ministers' parties by time in office
            </h5>
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    Liberal Party of Australia – 17530 days as of 14 September 2019.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Australian Labor Party – 13620 days
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Nationalist Party – 5142 days (Party Deregistered)
                </li>
                <li style="text-align:justify; font-family:Arial">
                    United Australia Party – 3505 days (Party Deregistered)
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Protectionist Party – 2442 days (Party Deregistered)
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Commonwealth Liberal Party – 783 days (Party Deregistered)
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Free Trade Party – 322 days (Party Deregistered)
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Country Party – 84 days (Party Renamed)
                </li>
            </ul>
        </div>

    </section>

    <!-- Script for Collapsible Bars -->
    <script>
        var coll = document.getElementsByClassName("coll_4");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

</body>

