@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/icofont.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <section class="section-padding" style="height:80px">
        <div class="container">
            <h1 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">Bills in Legislation</h1>
            <h3 class="title wow fadeInUp" style="text-align:center; font-weight:400">Browse Bils introduced in the Government by various sectors</h3>
        </div>
    </section>

    <section class="section-padding gray-bg">
        <div class="results-page-content">
            <div id="Maincontent_panel">
                <div>
                    <div id="maincontent" class="RadGrid RadGrid_Default" style="width:80%; padding-left:20%" tabindex="0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Introduced Bills
                                    </th>
                                    <th style="text-align:right">
                                        Click to Download
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Crimes Legislation Amendment (Combatting Corporate Crime) Bill 2017
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2017B00251</span>
                                            <span>• Introduced On: 06/12/2017</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2017B00251/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>


                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Territories Law Reform Bill 2010 [2]
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2010B00233</span>
                                            <span>• Introduced On: 29/09/2010</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2010B00233/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Australia Council Bill 2013
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2013B00078</span>
                                            <span>• Introduced On: 20/03/2013</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2013B00078/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Protection of Cultural Objects on Loan Bill 2012
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2012B00214</span>
                                            <span>• Introduced On: 28/11/2012</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2012B00214/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Australian Education Amendment Bill 2017
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2017B00079</span>
                                            <span>• Introduced On: 11/05/2017</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2017B00079/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Australian Research Council Amendment Bill 2018
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2018B00091</span>
                                            <span>• Introduced On: 10/05/2018</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2018B00091/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Higher Education Support Amendment (Cost Recovery) Bill 2018
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2018B00172</span>
                                            <span>• Introduced On: 19/09/2018</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2018B00172/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Fair Entitlements Guarantee Amendment Bill 2014
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2014B00186</span>
                                            <span>• Introduced On: 04/09/2014</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2014B00186/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Fair Work Amendment (Bargaining Processes) Bill 2014
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2014B00244</span>
                                            <span>• Introduced On: 27/11/2014</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2014B00244/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Officers' Compensation Bill 1907
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2004B02035</span>
                                            <span>• Introduced On: 13/12/1907</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2018B00172/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Safe Work Australia Amendment (Role and Functions) Bill 2017
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2017B00097</span>
                                            <span>• Introduced On: 31/05/2017</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2018B00172/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">
                                        Tertiary Education Quality and Standards Agency Amendment Bill 2019
                                        <div style="font-size:12px; font-weight:200">
                                            <span>• C2019B00143</span>
                                            <span>• Introduced On: 25/07/2019</span>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <a style="color:mediumblue" href="https://www.legislation.gov.au/Details/C2019B00143/Download">
                                            <div>Download</div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        @section Scripts {
                            @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
                            @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
                            <script>
                                $(document).ready(function () {
                                    $('.table').DataTable();
                                });
                            </script>
                        }
                        <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>