@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/icofont.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>

</head>

<body data-spy="scroll" data-target=".mainmenu-area">

    <section class="section-padding gray-bg">
        <div class="container" style="width: 94%">
            <h1 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">Fair Pay Finder</h1>
            <h3 class="title wow fadeInUp" style="text-align:center; font-weight:400">Use our <a style="color:mediumblue" href="#viz1568636516191"> Pay Finder</a> to work out your pay rates.</h3>
        </div>
    </section>

    <section class="section-padding" style="padding-left:20px">
        <button class="coll_4" style="width:94%"> Public Holidays in Victoria, Australia <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    Our National Public Holidays are New Year's Day, Australia Day, Good Friday, Easter Monday, Anzac Day, Christmas Day and Boxing Day.
                </li>
                <li style="text-align:justify; font-family:Arial">
                    All other public holidays such as Queen's Birthday and Labour Day are individually declared by the state and territory governments.
                </li>
            </ul>
            <div class="wow fadeInUp" data-wow-delay="0.7s" style="padding-left:20px">
                <a href="https://www.business.vic.gov.au/victorian-public-holidays-and-daylight-saving/victorian-public-holidays" class="bttn bttn-primary">Source</a>
            </div>
        </div>
        <br />

        <button class="coll_4" style="width:94%"> Entitlements <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:center; font-family:Arial">
                National Employment Standards
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                The National Employment Standards (NES) are 10 minimum employment entitlements that have to be provided to all employees. An award, employment contract, enterprise agreement or other registered agreement can't provide for conditions that are less than the national minimum wage or the NES.                The 10 minimum entitlements of the NES are:
            </h5>
            <br />
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    Maximum weekly hours
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Public holidays
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Long service leave
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Requests for flexible working arrangements
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Requests for flexible working arrangements
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Community service leave
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Personal/carer's leave, compassionate leave and unpaid family and domestic violence leave
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Requests for flexible working arrangements
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Annual leave
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Parental leave and related entitlements
                </li>
            </ul>
            <h5 style="text-align:center; font-family:Arial">
                Protection at work
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                All employees have protected rights at work. These protected rights include:
            </h5>
            <ul>
                <li>
                    Workplace Rights
                </li>
                <li>
                    Taking or not taking part in industrial activities or belonging or not belonging to an industrial association
                </li>
                <li>
                    Being free from discrimination.
                </li>
            </ul>
            <h5 style="text-align:justify; font-family:Arial">
                Employees can’t be treated differently or worse because they possess or have exercised a right, or for a discriminatory reason. Employees are protected from:
            </h5>
            <ul>
                <li>
                    Adverse action
                </li>
                <li>
                    Coercion
                </li>
                <li>
                    Undue influence or pressure
                </li>
                <li>
                    Misrepresentation
                </li>
            </ul>
            <h5 style="text-align:center; font-family:Arial">
                Industrial Action & Union Membership
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                Industrial action may be taken by employers or employees to settle a workplace dispute about working conditions. Find out more about Industrial action including:
            </h5>
            <ul>
                <li>
                    What industrial action is protected
                </li>
                <li>
                    The consequences for taking unprotected industrial action.
                </li>
            </ul>
            <h5 style="text-align:justify; font-family:Arial">
                Unions play an important role in the workplace. Their key roles include acting as employee representatives during workplace disputes and acting as a bargaining representative during bargaining negotiations. Find out more about:
            </h5>
            <ul>
                <li>
                    Union membership
                </li>
                <li>
                    The role of unions
                </li>
                <li>
                    Unions and the workplace.
                </li>
            </ul>
            <div class="wow fadeInUp" data-wow-delay="0.7s" style="padding-left:20px">
                <a href="https://www.fairwork.gov.au/employee-entitlements" class="bttn bttn-primary">Source</a>
            </div>
        </div>
        <br />

        <button class="coll_4" style="width:94%"> Help <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">

            <br />
            <h5 style="text-align:center; font-family:Arial">
                Protection from discrimination at work
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                Discrimination occurs in the workplace when an employer takes adverse action against an employee or prospective employee because of a protected attribute.
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                When can discrimination occur?
            </h5>
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    To someone applying for a job as an employee
                </li>
                <li style="text-align:justify; font-family:Arial">
                    To a new employee who hasn't started work
                </li>
                <li style="text-align:justify; font-family:Arial">
                    To an employee at any time during employment.
                </li>
            </ul>
            <div class="wow fadeInUp" data-wow-delay="0.7s" style="padding-left:20px">
                <a href="https://www.fairwork.gov.au/employee-entitlements/protections-at-work/protection-from-discrimination-at-work" class="bttn bttn-primary">Source</a>
            </div>
        </div>
        <br />
    </section>

    <section class="section-padding gray-bg" id="calculator">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5" style="margin-left:7%">
                <div class='tableauPlaceholder' id='viz1568636516191' style='position: relative; margin-left:20px'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;PayRateFinder&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='views&#47;PayRateFinder&#47;Dashboard1?:embed=y&amp;:display_count=y&amp;publish=yes' /> <param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;PayRateFinder&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                <script type='text/javascript'>var divElement = document.getElementById('viz1568636516191'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '550px'; vizElement.style.height = '400px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '550px'; vizElement.style.height = '400px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '700px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-2">
        </div>*@
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h1 style="text-align:center">Check out our fair works pay rate finder </h1>
                <p>The Pay Calculator calculates base pay rates (including overtime).</p>
                <p>
                    Employees have to be paid the right pay rate for all time worked, including time spent:
                    <ul class="list">
                        <li>Training</li>
                        <li>Team Meetings</li>
                        <li>Opening and closing business</li>
                        <li>Working trial shifts</li>
                    </ul>
                </p>
                <p>Learn about pay obligations, including minimum wages, pay slip and record-keeping requirements and the rules regarding unpaid work.</p>
            </div>
        </div>
    </section>

    <script>
        var coll = document.getElementsByClassName("coll_4");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>


</body>
