@{

    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" type="text/css"  />
    <link href="~/Content/icofont.css" rel="stylesheet" type="text/css"  />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" type="text/css"  />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css"  />
    <link href="~/Content/normalize.css" rel="stylesheet" type="text/css"  />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css"  />
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css"  />
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">

    <header class="header-area overlay" id="home-area">

        <div class="smoth">
            <a class="scrolldown" href="#about-area">
                <i class="icofont icofont-bubble-down"></i>
            </a>
        </div>

        <div class="vcenter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="header-text" style="padding-bottom:100px">
                            <h2 class="header-title fadeInUp" style="font-size:80px; margin-top:400px">Unified<span class="dot"></span>Australia</h2>
                            <div class="fadeInUp"><p style="font-size:20px">We seek to provide legal assistance to youngsters in and around Victoria in an integrated manner. </p></div>
                            <div class="fadeInDown">
                                <a href="/Home/LegalAdvice" class="bttn bttn-sm bttn-primary">Find out more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- About-Area: Redirect to About Page-->
    <br />
    <br />
    <section class="section-padding btn-group-sm" id="about-area" style="padding: 20px 0">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h5 class="title wow fadeInUp">Quick &amp; Powerful Solutions to our young generations in Regional Victoria</h5>
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p>
                                An average youth in Victoria is $ 63000 in a single year, which is the second lowest of all regions in Australia.
                            </p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.7s">
                        <a href="/Home/Service" class="bttn bttn-primary">Learn More</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <img src="~/Content/Youth/youth_1.jpg" />
                </div>
            </div>
        </div>
    </section>

    <!-- News & Events-->
    <section class="section-padding gray-bg" id="blog-area" style="padding: 20px 0">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="page-title text-center">
                        <h2 class="title">Latest News Updates</h2>
                        <p style="font-size:large">Have a glance at the latest news feeds and updates</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5 wow fadeInUp">
                    <div class="blog-box">
                        <div class="blog-image">
                            <img src="~/Content/News/news_1.jpg" alt="" />
                        </div>
                        <div class="blog-details">
                            <h4><a href="/Home/NewsEvents">Rapid rise for innovative Geelong jobs program, 23 August, 2019</a></h4> <!-- Top News Title || Redirect to news & events-->
                            <p align="justify">Greater Geelong’s Regional Industry Sector Employment program (RISE) has been recognised for its contribution to youth employment and skills development.</p> <!-- Few Lines-->
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 wow fadeInUp"></div>

                    <div class="col-xs-12 col-md-5 wow fadeInUp">
                        <div class="blog-lists">
                            <div class="blog-list wow fadeInUp" data-wow-delay="0.2s">
                                <div class="blog-list-image">
                                    <img src="~/Content/News/news_4.png" alt="" />
                                </div>
                                <h5><a href="/Home/NewsEvents">Youth unemployment soars to one in four people in parts of the country.</a></h5><!-- Title-->
                                <div class="blog-list-meta"> <i class="icofont icofont-ui-calendar"></i> 4 March, 2019</div> <!-- Date-->
                                <p align="justify">
                                    Madelin Ly loves animals, and wanted to work in a field that helped them. She studied animal bioscience.
                                </p>
                            </div>
                            <div class="blog-list wow fadeInUp" data-wow-delay="0.4s">
                                <div class="blog-list-image">
                                    <img src="~/Content/News/news_5.jpg" alt="" />
                                </div>
                                <h5><a href="/Home/NewsEvents">Ballarat youth unemployment up slightly on last year</a></h5> <!-- Title-->
                                <div class="blog-list-meta"> <i class="icofont icofont-ui-calendar"></i>10 March, 2019</div> <!-- Date-->
                                <p align="justify">Ballarat’s youth unemployment rate is lower than the state average, but has slightly increased.</p> <!-- Content-->
                            </div>
                            <div class="blog-list wow fadeInUp" data-wow-delay="0.6s">
                                <div class="blog-list-image">
                                    <img src="~/Content/News/news_6.jpg" alt="" />
                                </div>
                                <h5><a href="/Home/NewsEvents">Morrison aims $58 million at youth unemployment in new pitch to voters</a></h5> <!-- Title-->
                                <div class="blog-list-meta"> <i class="icofont icofont-ui-calendar"></i>14 April, 2019</div> <!-- Date-->
                                <p>Government announced the concept in the budget but has waited until the election campaigns.</p> <!-- Content-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- News-area / -->
    <!-- Our major functions-->
    <section class="section-padding" id="service-area" style="padding: 20px 0">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="page-title text-center">
                        <h2 class="title">Why We Stand Out !</h2>
                        <p style="font-size:large">Our Top Features You'll Love</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="feature-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="icofont icofont-idea"></i>
                        </div>
                        <h4>Unique Identity</h4>
                        <br />
                        <p align="justify">Do not wander! Look at the wonders here... Let's bridge the gap </p> <!-- Information to be provided-->
                        @*<a href="#" class="read-more">Read More</a>*@
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="feature-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-icon">
                            <i class="icofont icofont-travelling"></i>
                        </div>
                        <h4>Learn about new places</h4>
                        <br />
                        <p align="justify">Visit all places virtually with Unified, Australia. We take you everywhere. </p> <!-- Information to be provided-->
                        @*<a href="#" class="read-more">Read More</a>*@
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="feature-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box-icon">
                            <i class="icofont icofont-people"></i>
                        </div>
                        <h4>Meet new people</h4>
                        <br />
                        <p align="justify"> Enhance your networking abilities by engaging in social and professional events. </p> <!-- Information to be provided-->
                        @*<a href="#" class="read-more">Read More</a>*@
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="feature-box wow fadeInUp" data-wow-delay="1.2s">
                        <div class="box-icon">
                            <i class="icofont icofont-emo-simple-smile"></i>
                        </div>
                        <h4>Community services</h4>
                        <br />
                        <p align="justify">Know the people around and elevate your community for a better future. </p> <!-- Information to be provided-->
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="feature-box wow fadeInUp" data-wow-delay="1s">
                        <div class="box-icon">
                            <i class="icofont icofont-ui-calendar"></i>
                        </div>
                        <h4>Check out Events near you!</h4>
                        <br />
                        <p align="justify">Enhance your soft skills by exploring various domains around you. </p> <!-- Information to be provided-->
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="feature-box wow fadeInUp" data-wow-delay="0.8s">
                        <div class="box-icon">
                            <i class="icofont icofont-read-book"></i>
                        </div>
                        <h4>Learn through our frameworks</h4>
                        <br />
                        <p align="justify">Education and self-learning comes to you! All you need is just need the right attitude</p> <!-- Information to be provided-->
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Why Choose Us? -->
    <section class="section-padding gray-bg" style="padding: 20px 0">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    @*<iframe width="100%" height="300px" src="https://www.youtube.com/embed/UKhVX1JF2n8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                    <iframe width="100%" height="300px" src="https://www.youtube.com/embed/yY86_7G2qZQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-xs-12 col-sm-2"></div>

                <div class="col-xs-12 col-sm-5">
                        <div class="page-title">
                            <h2 class="title">Why Choose Us?</h2>
                            <ul class="tabs-list">
                                <li class="active"><a data-toggle="pill" href="#our_mission">Our Mission</a></li>
                                <li><a data-toggle="pill" href="#our_vission">Our Vision</a></li>
                                <li><a data-toggle="pill" href="#our_support">Our Support</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="our_mission" class="tab-pane fade in active">
                                <h4 class="upper thing">SINCE WE STARTED! </h4> <!-- Get some information-->
                                <h3 class="upper">EXPERIENCE IN THIS PASSION</h3> <!-- Get some information-->
                                <p align="justify">Unified bridges the gap among the multi cultural Australians by providing right information for Australian youth ready to kick start a career in their prospective field by recognising the status of those people and standing with them in need. We want to enhance their status in the society.</p> <!-- Get some information-->
                                <br />
                                <a href="/Home/About" class="bttn bttn-sm bttn-primary">View More</a> <!-- Redirect to Services / About Us-->
                            </div>
                            <div id="our_vission" class="tab-pane fade">
                                <h4 class="upper thing">WE SHALL STRIVE FOR THIS! </h4> <!-- Get some information-->
                                <h3 class="upper">A UNIFIED PROCESS </h3> <!-- Get some information-->
                                <p align="justify">We want a unified Australia which brings forward the enhanced culture among us with improvised society that considers everyone equally. </p>
                                <br />
                            </div>
                            <div id="our_support" class="tab-pane fade">
                                <h4 class="upper thing">WE WILL ALWAYS HELP YOU OUT! </h4> <!-- Get some information-->
                                <h3 class="upper">THATS A WORD </h3> <!-- Get some information-->
                                <p align="justify">We provide support in terms of providing them with job vacancies, enhance skill set and providing them information about multiple interesting domains around them. </p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>
