@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/icofont.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>

</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <section class="section-padding" style="margin-top:80px">
        <h1 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">A Register of Legislation</h1>
    </section>

    <section class="section-padding gray-bg" style="padding-top:20px">

        <button class="coll_4" style="width:94%">How to find a job?<i class="icofont icofont-simple-down" style="font-size:20px; width: 94%"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">
                It looks at alternative ways to find jobs by exploring the hidden job market, and looks at ways to build up your experience.
            </h5>
            <h5 style="text-align:justify; font-family:Arial">
                Finally, there's information about job scams and dodgy job ads, and some helpful information if you're seeking graduate opportunities, as well as advice on job-seeking in rural and regional Victoria.
            </h5>
            <ul>
                <li>Use a job search website</li>
                <li>Create a jobseeker profile</li>
                <li>Check out company websites</li>
                <li>Use a government job site</li>
                <li>Search regularly</li>
            </ul>
        </div>
        <br />

        <button class="coll_4" style="width:94%">The Federal Register of Legislation <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">The Federal Register of Legislation (the Legislation Register) is the approved, whole-of-government website for Australian Government legislation and related documents. It contains the full text of laws as well as details of the life cycle of individual laws and the relationships between them. Key types of content and dates are as follows:</h5>
            <ul>
                <li>Acts as made from 1901</li>
                <li>Act compilations from 1973</li>
                <li>Regulations and other instruments as made from 1904</li>
                <li>Regulations and other instrument compilations from 1979</li>
                <li>Government Notices Gazettes/Gazette notices from 1901</li>
            </ul>

            <h5 style="text-align:justify; font-family:Arial">The latest version of all in force laws as well as some other laws on the Legislation Register have an authorised version that can be relied on for the purpose of court proceedings under section 15ZA and 15ZB of the Act. Authorised versions are always in Adobe Acrobat (PDF) format, and are stamped with one of the following forms of words:</h5>
            <ul>
                <li>“Authorised version”; or</li>
                <li>“Authoritative”; or</li>
                <li>“Federal Register of Legislative Instruments”; or</li>
                <li>for an explanatory statement for a legislative instrument—“Explanatory Statement to” and a reference to the unique identifier for the instrument.</li>
            </ul>
        </div>
        <br />

        <button class="coll_4" style="width:94%">Getting Legal Advice <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">Legal Aid services are funded by the Australian Government and/or the State or Territory Government, depending on which laws are involved. Matters dealt with by legal aid commissions include:</h5>
            <ul>
                <li>Criminal matters, such as legal representation of a person charged with a criminal offence</li>
                <li>Civil matters like discrimination on the basis of disability, gender, marital status, or race</li>
                <li>Migration, benefits and compensation payable by the Commonwealth</li>
                <li>Consumer Protection</li>
                <li>Claims relating to professional negligence, loss or destruction of property, personal injury, and wills and estates</li>
                <li>Family law issues such as injunctions relating to family violence, orders relating to children and spousal/child maintenance</li>
            </ul>
        </div>
        <br />

        <button class="coll_4" style="width:94%">Community Legal Centre <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">Community legal centres are not-for-profit organisations and do not generally deal with issues such as taxation and commercial disputes. Instead, they provide information, advice and referrals on matters relevant to their local community, or on a specific issue such as:</h5>
            <ul>
                <li>Child support</li>
                <li>Child protection and youth issues</li>
                <li>Civil Litigation support</li>
                <li>Discrimination because of an actual and perceived disability</li>
                <li>environmental protection</li>
                <li>Immigration</li>
                <li>Welfare rights (Centrelink and Family Assistance income support and benefit issues)</li>
            </ul>
        </div>
        <br />

        <button class="coll_4" style="width:94%">Private lawyers <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content" style="width: 94%">
            <br />
            <h5 style="text-align:justify; font-family:Arial">To find a lawyer that specialises in the area of law you require contact the local law society or bar association This link will take you away from the Legislation Register, use the telephone directory, or search commercial websites online.</h5>
            <h6 style="text-align:justify; font-family:Arial">Help with languages other than English?</h6>
            <ul>
                <li>When having documents translated, consider if the relevant government agency or court has rules about who can translate the documents. Selected access to free translation of documents is available from the Department of Immigration and Border Protection.</li>
                <li>Low cost or free interpreting services over the phone or face-to-face interpreting services are available through the Australian Government's national Translating and Interpreting Service (TIS) This link will take you away from the Legislation Register. The 24-hour TIS hotline number is 131 450.</li>
                <li>Alternatively the National Accreditation Authority for Translators and Interpreters (NAATI) This link will take you away from the Legislation Register maintains an online directory of accredited translators and interpreters.</li>
            </ul>
        </div>
        <br />
        <!-- Script for Collapsible Bars -->
        <script>
            var coll = document.getElementsByClassName("coll_4");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            }
        </script>
    </section>
</body>


