@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body data-spy="scroll" data-target=".mainmenu-area">

    <section class="section-padding gray-bg" style="margin-top: 80px;">
        <div class="container">
            <br />
            <h1 class="title wow fadeInUp" style="text-align:center; font-weight:400">These infographics have a story to tell! <a style="color:midnightblue" href="#can"> Check them out..</a></h1>
        </div>
    </section>

    <section class="section-padding" style="padding: 20px 0; margin-left: 10%">
        <div class="card-deck m-4">
            <div class="card">
                <div class="service-widget text-center">
                    <div class="post-media media d-block media-custom text-center card-img-top">
                        <a href="/Home/Bully_Infograph"><img src="~/Content/Images/bullying.jpg" alt="" class="img-fluid img-rounded"></a>
                    </div>
                    <h4><a href="/Home/Bully_Infograph">Bullying Among Youngsters</a></h4>
                </div>
            </div>

            <div class="row" style="width: 15%; float: left"></div>

            <div class="card">
                <div class="service-widget text-center">
                    <div class="post-media media d-block media-custom text-center card-img-top">
                        <a href="/Home/Youth_Infograph"><img src="~/Content/Images/youth_2.jpg" alt="" class="img-fluid img-rounded"></a>
                    </div>
                    <h4><a href="/Home/Youth_Infograph">Youth Offenders</a></h4>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding gray-bg">
        <div class="container" id="can">
            <div class="flourish-embed" data-src="visualisation/669654"></div>
            <script src="https://public.flourish.studio/resources/embed.js"></script>
        </div>
    </section>

    <script src="~/Scripts/jquery.min_min2.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min_min2.js"></script>

</body>

