@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/icofont.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">

    <a href="#fact area" class="to-top" title="Back To Top">Top</a>

    <script type='text/javascript' src='~/Scripts/Worklife.js'></script>
    <style>
        .meterBlurb {
            border: 2px solid #125656;
            padding: 15px;
            margin-left: -15px;
        }
    </style>



    <section class="section-padding" id="fact area" ; style="margin-top: 80px; padding: 30px; padding-right: 30px;">
        <h2 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">
            Are You in Balance?
        </h2>
        <p class="title wow fadeInDown" style="text-align:justify; font-size:20px">Australians work some of the longest hours of anyone in developed countries, and we spend less time looking after ourselves outside work. Working long hours can be bad for your health, increase stress and give you less time to spend on other activities like personal care or leisure.</p>
        <p class="title wow fadeInDown" style="text-align:justify; font-size:large">A good work-life balance means you have harmony between different aspects of your life, where benefits gained from each area can support and strengthen the others. Work-life integration is a new concept, where many people are learning to blend their work and personal lives successfully.</p>
    </section>

    <section class="section-padding gray-bg" style="padding: 40px;">
        <h2 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">
            » <a href="#balance-quiz">Take the Work/Life Balance Quiz</a>
        </h2>
        <p>
            <strong>Disclaimer</strong><br>
            <em>This is not a scientific test. Information provided is not a substitute for professional advice. If you feel that you may need advice, please consult a qualified health care professional. </em>
        </p>
    </section>

    <section class="section-padding" id="fact area" ; style="padding-left: 60px; width: 90%">

        <form method="post" name="stress">
            <table class="quiz" border="0" width="80%" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <th class="heading" align="center"></th>
                        <th class="heading" align="center"><strong>Agree&nbsp;</strong></th>
                        <th class="heading" align="center"><strong>&nbsp;Disagree</strong></th>
                    </tr>
                    <tr>
                        <td width="100%">1. I feel like I have little or no control over my work life</td>
                        <td align="center"><input name="yesno1a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno1a" type="radio" value="1"></td>
                    </tr>
                    <tr class="odd">
                        <td>2. I regularly enjoy hobbies or interests outside of work</td>
                        <td align="center"><input name="yesno2a" type="radio" value="1"></td>
                        <td align="center"><input name="yesno2a" type="radio" value="0"></td>
                    </tr>
                    <tr>
                        <td>3. I often feel guilty because I can’t make time for everything I want to</td>
                        <td align="center"><input name="yesno3a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno3a" type="radio" value="1"></td>
                    </tr>
                    <tr class="odd">
                        <td>4. I frequently feel anxious or upset because of what is happening at work</td>
                        <td align="center"><input name="yesno4a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno4a" type="radio" value="1"></td>
                    </tr>
                    <tr>
                        <td>5. I usually have enough time to spend with my loved ones</td>
                        <td align="center"><input name="yesno5a" type="radio" value="1"></td>
                        <td align="center"><input name="yesno5a" type="radio" value="0"></td>
                    </tr>
                    <tr class="odd">
                        <td>6. When I’m at home, I feel relaxed and comfortable</td>
                        <td align="center"><input name="yesno6a" type="radio" value="1"></td>
                        <td align="center"><input name="yesno6a" type="radio" value="0"></td>
                    </tr>
                    <tr>
                        <td>7. I have time to do something just for me every week</td>
                        <td align="center"><input name="yesno7a" type="radio" value="1"></td>
                        <td align="center"><input name="yesno7a" type="radio" value="0"></td>
                    </tr>
                    <tr class="odd">
                        <td>8. On most days, I feel overwhelmed and over-committed</td>
                        <td align="center"><input name="yesno8a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno8a" type="radio" value="1"></td>
                    </tr>
                    <tr>
                        <td>9. I rarely lose my temper at work</td>
                        <td align="center"><input name="yesno9a" type="radio" value="1"></td>
                        <td align="center"><input name="yesno9a" type="radio" value="0"></td>
                    </tr>
                    <tr class="odd">
                        <td>10. I never use all my allotted vacation days</td>
                        <td align="center"><input name="yesno10a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno10a" type="radio" value="1"></td>
                    </tr>
                    <tr>
                        <td>11. I often feel exhausted – even early in the week</td>
                        <td align="center"><input name="yesno11a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno11a" type="radio" value="1"></td>
                    </tr>
                    <tr class="odd">
                        <td>12. Usually, I work through my lunch break</td>
                        <td align="center"><input name="yesno12a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno12a" type="radio" value="1"></td>
                    </tr>
                    <tr>
                        <td>13. I rarely miss out on important family events because of work</td>
                        <td align="center"><input name="yesno13a" type="radio" value="1"></td>
                        <td align="center"><input name="yesno13a" type="radio" value="0"></td>
                    </tr>
                    <tr class="odd">
                        <td>14. I frequently think about work when I’m not working</td>
                        <td align="center"><input name="yesno14a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno14a" type="radio" value="1"></td>
                    </tr>
                    <tr>
                        <td>15. My family is frequently upset with me about how much time I spend working</td>
                        <td align="center"><input name="yesno15a" type="radio" value="0"></td>
                        <td align="center"><input name="yesno15a" type="radio" value="1"></td>
                    </tr>
                </tbody>
            </table>
            <p>
                <input name="Submit" type="submit" value="Submit" onclick="balance_tally(&#39;en&#39;);return false;"><br>
            </p>
        </form>
    </section>

    <section class="section-padding gray-bg" id="fact area" ; style="padding: 40px; padding-top:20px">
        <h4 id="score"></h4>
        <h4 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:bold">What Your Score Means</h4>
        <p><strong>0 – 5</strong>: Your life is out of balance – you need to make significant changes to find your equilibrium. But you can take control!</p>
        <p><strong>6 – 10</strong>: You’re keeping things under control – but only barely. Now is the time to take action before you’re knocked off balance.</p>
        <p><strong>11 – 15</strong>: You’re on the right track! You’ve been able to achieve work/life balance – now, make sure you protect it.</p>
        <br />
        <h4 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:bold">Tips and Resources</h4>

        <button class="coll_4"> Are you in Balance? <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content">
            <br />
            <h5 style="text-align:justify; font-family:Arial">
                A moderate amount of stress improves our efficiency and our mental sharpness. But how do you know when your everyday juggling act has stopped being a motivating challenge and started being harmful to your health? Here are some signs:
            </h5>
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    You feel like you’ve lost control of your life
                </li>
                <li style="text-align:justify; font-family:Arial">
                    You often feel guilty about neglecting your different roles
                </li>
                <li style="text-align:justify; font-family:Arial">
                    You frequently find it difficult to concentrate on the task at hand
                </li>
                <li style="text-align:justify; font-family:Arial">
                    You’re always tired
                </li>
            </ul>
            <h5 style="text-align:justify; font-family:Arial">
                A survey by Desjardins Financial Security showed that money is the main cause of stress outside work. Nearly half of respondents cited money issues as their top stressor.
            </h5>
        </div>
        <br/>
        <button class="coll_4"> Work-Life Balance is Good for Business <i class="icofont icofont-simple-down" style="font-size:20px;"></i></button>
        <div class="content">
            <br />
            <h5 style="text-align:justify; font-family:Arial">
                According to Stephens and Joubert (2001), the direct and indirect economic burden of mental illnesses in Canada was estimated to be $14.4 billion in 1998.
            </h5>
            <h5 style="text-align:justify; font-family:Arial; font-weight:200">
                Get the support of your employer by:
            </h5>
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    Being clear on what it is you need to ensure work-life balance
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Researching the programs, policies and benefits available
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Providing examples of practices that have worked in the past
                </li>
            </ul>
            <h5 style="text-align:justify; font-family:Arial; font-weight:200">
                Some of the options that might be available include:
            </h5>
            <ul>
                <li style="text-align:justify; font-family:Arial">
                    Flexible hours – flexible start and end times
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Telecommuting – working from home
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Job sharing – splitting a full-time job with another employee
                </li>
                <li style="text-align:justify; font-family:Arial">
                    Graduated return – gradually building up to a full-time schedule after a leave
                </li>
            </ul>
        </div>

    </section>

    <script>
        var coll = document.getElementsByClassName("coll_4");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

</body>