@{
    ViewBag.Title = "About";
}

@{

    ViewBag.Title = "Home Page";
}
<body data-spy="scroll" data-target=".mainmenu-area">

    <section class="section-padding gray-bg" id="fact area" ; style="margin-top: 80px">
        <h1 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">Check out some latest news from around Victoria.</h1>
        <p class="title wow fadeInDown" style="text-align:center; font-size:large">We cover a wide range of topics related to youngsters at work and their entitlements as individuals.</p>
    </section>

    <!-- News Item - One -->
    <section class="section-padding" id="news-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h2 class="title wow fadeInUp">Rapid rise for innovative Geelong jobs program</h2>
                        <h4 class="title wow fadeInLeft">23 August, 2019</h4>
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p align="justify">Greater Geelong’s Regional Industry Sector Employment program (RISE) has been recognised for its contribution to youth employment and skills development in the region, with the program confirmed as a finalist in the 2019 Victorian Training Awards.</p>
                            <p align="justify">Now in their 65th year, the prestigious awards recognise and celebrate outstanding achievements in the state’s Vocational Education and Training sector.</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.7s">
                        <a href="https://www.miragenews.com/rapid-rise-for-innovative-geelong-jobs-program/" class="bttn bttn-primary">Visit Source</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <img src="~/Content/News/news_1.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding gray-bg" id="news-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="~/Content/News/news_4.png" alt="" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h2 class="title wow fadeInUp">Youth unemployment soars to one in four people in parts of the country</h2>
                        <h4 class="title wow fadeInLeft">4 March, 2019</h4>
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p align="justify">Madelin Ly loves animals, and wanted to work in a field that helped them. She studied animal and veterinary bioscience at La Trobe Uni in Melbourne, but since she graduated in 2017 she's struggled to find work.</p>
                            <p align="justify">"In my last year of high school I started volunteering at the RSPCA, and while I was there I noticed that there was a lot of interest from people in the animal industry. So I knew going into my course that it would be a highly competitive field to get into," Madelin told Hack.</p>
                            <p align="justify">She's taken on casual work as a waitress, and as an animal attendant in a clinic, but admits getting her foot in the door has been tough.</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.7s">
                        <a href="https://www.abc.net.au/triplej/programs/hack/youth-unemployment-high-across-the-country/10868092" class="bttn bttn-primary">Visit Source</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding" id="news-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h2 class="title wow fadeInUp">Ballarat youth unemployment up slightly on last year</h2>
                        <h4 class="title wow fadeInLeft">10 March, 2019</h4>
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p align="justify">Ballarat’s youth unemployment rate is lower than the state average, but has slightly increased. In the 12 months to December 2018, the average unemployment rate for 15 to 24-year-olds in Ballarat was 10.1 per cent.</p>
                            <p align="justify">Unemployment, as defined by the Australian Bureau of Statistics, requires a person to be not working and actively looking for work, ready to begin within four weeks, while there are also individuals who are “marginally attached”, or not working and do not report looking for a job.</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.7s">
                        <a href="https://www.thecourier.com.au/story/5939429/youth-unemployment-rate-up-35-per-cent/" class="bttn bttn-primary">Visit Source</a>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-5">
                    <img src="~/Content/News/news_5.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding gray-bg" id="news-4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="~/Content/News/news_6.jpg" alt="" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h2 class="title wow fadeInUp">Morrison aims $58 million at youth unemployment in new pitch to voters</h2>
                        <h4 class="title wow fadeInLeft">14 April, 2019</h4>
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p align="justify">Prime Minister Scott Morrison will target youth unemployment in a $58 million plan to encourage students to enter vocational training with the help of scholarships and links to employers.</p>
                            <p align="justify">The government announced the concept in the budget but has waited until the election campaign to name the locations, which include safe electorates as well as some of the marginal seats the Coalition must win to stay in power.</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.7s">
                        <a href="https://www.smh.com.au/politics/federal/morrison-aims-58-million-at-youth-unemployment-in-new-pitch-to-voters-20190413-p51dvu.html" class="bttn bttn-primary">Visit Source</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="../Scripts/jquery-1.12.4.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

</body>