@{
    ViewBag.Title = "About";
}

@{

    ViewBag.Title = "Home Page";
}

    <body data-spy="scroll" data-target=".mainmenu-area">

        <section class="section-padding gray-bg" id="fact area" style="height:20px">
            <h1 class="title wow fadeInUp" style="text-align:center; text-transform:uppercase; font-weight:400">NEED ASSISTANCE TO FIND A JOB? CHECK OUT OUR <a style="color:dodgerblue" href="#graph_one"> EMPLOYMENT SERVICES</a></h1>
            @*<p class="title wow fadeInDown" style="text-align:center; font-size:large">High Indigenous population growth since the 1990s requires employment, education, <br /> training and business initiatives to prevent rising unemployment rates among Aboriginal and Torres Strait Islander people</p>*@
        </section>

        <section class="section-padding" id="service-area" style="margin-left:50px">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5" style="margin-left:7%">
                    <div class='tableauPlaceholder' id='viz1568434634652' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ci&#47;CitiesWithMostEmploymentServiceProvidersInVictoria&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CitiesWithMostEmploymentServiceProvidersInVictoria&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ci&#47;CitiesWithMostEmploymentServiceProvidersInVictoria&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1568434634652'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '550px'; vizElement.style.height = '600px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h1 style="text-align:center">
                        Lookinig for employment: Get the employment counselling
                    </h1>
                    <ul style="text-align:justify">
                        <li>
                            Follow the chart and get informed about the employment service providers around you. Any place in Australia, we provide you with information.
                        </li>
                        <li>
                            Everyone has different goals and needs when it comes to work. There are lots of job options available, whether you’re looking for a career or just something to keep the money coming in.
                        </li>
                        <li>
                            Government jobs include work with local councils, state governments and the Australian Government. Governments employ a lot of people. There’s a government job to suit almost everyone.
                        </li>
                        <li>
                            If you’re looking for your first job, volunteering can give you the skills and experience that employers want. It’s also a good way to meet people and contribute to your community.
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section-padding gray-bg" id="service-area">
            <div class="row" style="margin-left:20%">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h1 style="text-align:center">Do not wander! Look at the wonders here</h1>
                    <ul style="text-align:justify">
                        <li>
                            Vision: Say no to underpay, bullying at work and denial of rights. Unified aims to help the youth of Australia to identify their work rights so they are not deprived of their basic rights.
                        </li>
                        <li>
                            Before you can get a job, you'll need to think about what sort of job or career path suits you.
                        </li>
                        <li>
                            If there's a job or career you're interested in, it helps to find out as much as you can about it. A bit of research can give you an idea about whether it's really what you want to do for a living.
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class='tableauPlaceholder' id='viz1568435352631' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;Top10EmploymentServiceProviderInVictoria&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Top10EmploymentServiceProviderInVictoria&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;Top10EmploymentServiceProviderInVictoria&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1568435352631'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '550px'; vizElement.style.height = '600px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>
            </div>
        </section>



        @*<section class="section-padding gray-bg" id="graph_two">
        <div class='tableauPlaceholder' id='viz1568125240011' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;Top10EmploymentServiceProviderInVictoria&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Top10EmploymentServiceProviderInVictoria&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;Top10EmploymentServiceProviderInVictoria&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1568125240011'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '550px'; vizElement.style.height = '400px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        </section>*@



        <!-- Tableau Graph for Employment Service Finder-->


        <script src="../Scripts/jquery-1.12.4.min.js"></script>
        <script src="../Scripts/bootstrap.min.js"></script>

    </body>