@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body data-spy="scroll" data-target=".mainmenu-area">

    <section class="section-padding gray-bg" style="margin-top:80px">
        <script src="//my.visme.co/visme.js">
        </script>
        <div class="visme_d" data-url="8r9p7y6q-youth-crimes-infographics" data-w="800" data-h="1550" data-domain="my">
        </div>
    </section>

</body>


